body {
	background: #292512;
}

.container {
	background: #FFFFFF;
	width: 540px;
	height: 420px;
	margin: 0 auto;
	position: relative;
	margin-top: 10%;
	box-shadow: 2px 5px 20px rgba(#777777, .5);
}

.leftbox {
	float: left;
	top: -5%;
	left: 5%;
	position: absolute;
	width: 15%;
	height: 110%;
	background: #DEC754;
	box-shadow: 3px 3px 10px rgba(#292512, .5);
}

.rightbox {
	float: right;
	width: 72%;
	height: 100%;
}

.profile {
	transition: opacity .5s ease-in;
	position: absolute;
	width: 55%;
}

h1 {
	font-family: 'Montserrat', sans-serif;;
	color: #DEC754;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 35px;
}

label {
	color: #292512;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 1px;
	margin-left: 2px;
}

input {
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, #3FB6A8, rgba(#7ED386, .5)) 1 0%;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	width: 80%;
	font-family: 'Montserrat', sans-serif;;
	font-size: .8em;
	padding: 7px 0;
	color: #070707;
}

input:hover {
	color: #DEC754;
}

p {
	font-family: 'Roboto', sans-serif;
	color: #292512;
	text-transform: uppercase;
	font-size: .5em;
	text-align: justify;
	text-justify: inter-word;
}

/*span submit*/

.btn {
	float: right;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	border: none;
	color: #292512;
	width: 50%;
	background : #DEC754;
}

.btn:hover {
	color: #DEC754;
	background :  #292512;
}


.navHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navHeader li {
  float: left;
}

.navHeader li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navHeader li a:hover {
  background-color: #111;
}





